@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Resume";
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Davos Portfolio">
        <meta name="keywords" content="Portfolio, HTML, CSS, JavaScript">
        <meta name="author" content="David">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/homeStyles.css">
        <script src="./js/home.js"></script>
    </head>
<body>

<h1 class="ResumeHeaders1">About Me</h1>
<div>
    <ul>
        <li>
            <h2 class="ResumeHeaders2">Education</h2>
                <ul>
                    <li>
                        <h3 class="ResumeHeaders3">Swinburne</h3>
                        <p>Software engieering and Comp Sci</p>
                    </li>
                    <li>
                        <h3 class="ResumeHeaders3">La Trobe Melbourne</h3>
                        <p>Diploma of engineering</p>
                    </li>
                </ul>
        </li>
        <li>
            <h2 class="ResumeHeaders2">Work Experience</h2>
                <ul>
                    <li>
                        <h3 class="ResumeHeaders3">Leo's Fine Food & Wine</h3>
                        <p>Storeperson</p>
                    </li>
                    <li>
                        <h3 class="ResumeHeaders3">Domino's Pizza</h3>
                        <p>Delivery Driver</p>
                    </li>
                </ul>
        </li>
    </ul>
</div>

</body>
</html>
